# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development
.env.test.local
.env.production

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
venv/
files_store/
rada_env/

__pycache__/
*.pyc
*.pyo
*.pyd

firebase_database/firebase_service_account.json

email_config.py
firebase_service_account.json
firebase_service_account_staging.json
Awoba NW 5 NPT_Drilling_Performance_Dashboard.xlsx