fastapi
uvicorn[standard]
sqlmodel
sqlalchemy[asyncio]
mysql-connector-python
python-dotenv
pydantic
alembic
pydantic-settings
alembic
databases
pymysql
python-jose
passlib
python-multipart
pyodbc
plotly
kaleido
numpy
scipy
nlopt
python-dateutil
pandas
openai
openpyxl
firebase-admin
google-cloud-firestore
click
h11
httptools
uvloop
watchfiles
websockets
starlette
annotated-doc